body {
  margin: 0;
  padding: 0;
}

/*MAIN CONTAINER TO ALIGN IN THE MIDDLE */

.container {
  margin: 0 auto;
  width: 70%;
}

/*------------------------------------------------------------------*/
/*-----------------------------------NAVIGATION BAR-----------------*/
/*------------------------------------------------------------------*/

nav {
  background-color: #A8D4DD;
  padding-top: 20px;
}

nav div div.logo {
  display: inline-block;
  padding-left: 50px;
  width: 35%;
}

nav div div.logo i {
  color: #39474A;
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: middle;
}

nav div div.logo h2 {
  color: #39474A;
  display: inline-block;
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  font-weight: bolder;
  margin: 30px 0 15px;
  padding: 5px 0 0 10px;
}

nav div ul {
  display: inline-block;
  padding-left: 23px;
  width: 52%;
}

nav div ul li {
  display: inline-block;
  margin-left: 4%;
}

nav div ul li a {
  border-radius: 5px;
  color: #39474A;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 12px;
  text-decoration: none;
}

nav div ul li a:hover {
  color: #A8D4DD;
  background-color: #39474A;
}

/*------------------------------------------------------------------*/
/*-------------------------------------COVER SECTION CSS------------*/
/*------------------------------------------------------------------*/

section.cover {
  background-color: #A8D4DD;
  margin: 0;
  padding: 25px 0 30px 0;
}

section.cover div h1 {
  color: white;
  display: inline-block;
  float: left;
  font-family: 'Crimson Text', serif;
  font-size: 55px;
  margin: 80px 0;
  padding-left: 40px;
  text-align: center;
  width: 40%;
}

section.cover div img {
  display: inline-block;
  width: 50%;
}

section.cover div.circles {
  padding-top: 20px;
  text-align: center;
}

section.cover div.circles a {
  color: white;
  text-decoration: none;
}

section.cover div.circles i {
  font-size: 1.5em;
  padding: 0 5px;
}

/*------------------------------------------------------------------*/
/*---------------------------CHARACTERISTICS SECTION----------------*/
/*------------------------------------------------------------------*/

section.characteristics {
  background-color: azure;
  color: #444;
  margin: 0;
  padding: 40px 0 80px;
}

section.characteristics div.characteristic {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 33%;
}

section.characteristics div.characteristic img {
  width: 50%;
}

section.characteristics div.characteristic img.bulb {
  padding-bottom: 19px;
  width: 38%;
}

section.characteristics div.characteristic img.flatpc {
  padding-bottom: 27px;
}

section.characteristics div.characteristic h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

section.characteristics div.characteristic p {
  font-family: 'Crimson', serif;
}

/*------------------------------------------------------------------*/
/*-----------------------------RECENT WORK SECTION------------------*/
/*------------------------------------------------------------------*/

section.recentwork {
  background-color: #9AD3A6;
  color: white;
  padding-top: 50px;
  text-align: center;
}

section.recentwork h1 {
  font-family: 'Crimson', serif;
  font-size: 55px;
  margin: 0;
}

section.recentwork p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 10px;
}

section.recentwork ul {
  padding-left: 0;
  margin: 80px auto 40px;
  width: 80%;
}

section.recentwork ul li {
  display: inline-block;
  margin: 0 20px;
}

section.recentwork ul li a {
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 7px 12px;
  text-decoration: none;
}

section.recentwork ul li a:hover {
  color: #9AD3A6;
  background-color: white;
}

section.recentwork ul li a.web {
  border: 2px solid white;
  padding: 6px 11px;
}

section.recentwork div.work {
  width: 100%;
  text-align: center;
}

section.recentwork div.work a {
  color: #9AD3A6;
  cursor: default;
}

section.recentwork div.work a div {
  background-position: center;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 30px;
  width: 300px;
}

section.recentwork div.work a div.image1 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/02/51/72/025172aeb36ccaadf2b24773e8aeea56.jpg");
  background-position: 47% 60%;
}

section.recentwork div.work a div.image2 {
  background-image: url("https://static1.squarespace.com/static/54cf6d35e4b01cf5fad46006/563a5e76e4b0bc89ab2e01d2/563a5efde4b08285235da912/1453501448193/ShapesShadows2.jpg");
  background-position: 62% 18%;
}

section.recentwork div.work a div.image3 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/7d/dc/3d/7ddc3d587b19f647e3a12cb3dbb5ab1e.jpg");
  background-position: 60% 55%;
}

section.recentwork div.work a div.image4 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/b8/3e/10/b83e10cfa9a2c67d7bed97996d681001.jpg");
  background-position: 40% 60%;
}

section.recentwork div.work a div.image5 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/55/e3/11/55e31144a9cffef7c9198a9ed633d3a2.jpg");
  background-position: 55% 40%;
}

section.recentwork div.work a div.image6 {
  background-image: url("https://sarahgoodreau.files.wordpress.com/2017/04/pinkcat.jpg?w=584");
  background-position: 25% 45%;
}

section.recentwork button {
  background-color: white;
  border: none;
  border-radius: 7px;
  color: #929292;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 40px 0 80px;
  padding: 18px;
  text-decoration: none;
}

/*------------------------------------------------------------------*/
/*-----------------------------TEMPLATE SECTION---------------------*/
/*------------------------------------------------------------------*/

section.templates {
  background-color: #F1F1F1;
  color: #444;
  width: 100%;
}

section.templates div.template {
  width: 100%;
}

section.templates div.template img {
  display: inline-block;
  height: 400px;
  margin: auto;
  padding: 0;
  width: 30%;
}

section.templates div.template div.template-content {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 38px;
  margin: 86px 0;
  vertical-align: top;
  width: 66%;
}

section.templates div.template div.template-content h3 {
  font-size: 24px;
  font-weight: 700;
}

section.templates div.template div.template-content p {
  line-height: 1.6em;
}

section.templates div.template div.template-content button {
  background-color: #9AD3A6;
  border: none;
  border-radius: 7px;
  color: #F1F1F1;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 18px;
  text-decoration: none;
}

section.templates div.template div.template-content button.second-button {
  background-color: #A8D4DD;
}

section.templates hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #AAA;
  margin: 1em 0 1em 3.5%;
  padding: 0;
  width: 93%;
}

/*------------------------------------------------------------------*/
/*-----------------------------STAFF SECTION-----------------------*/
/*------------------------------------------------------------------*/

section.staff {
  background-color: #DEB5C5;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 50px 0 50px;
  text-align: center;
  width: 100%;
}

section.staff h1 {
  font-family: 'Crimson', serif;
  font-size: 55px;
  margin: 0;
}

section.staff p {
  font-size: 14px;
  line-height: 25px;
  margin: 10px;
  padding-bottom: 30px;
}

section.staff div.workers {
  margin: 0;
  width: 100%;
}

section.staff div.workers div.worker {
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  margin: 40px;
  width: 25%;
}

section.staff div.workers div.worker img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 200px;
  opacity: 0.95;
  width: 100%;
}

section.staff div.workers div.worker h3 {
  color: black;
  font-family: 'Crimson', serif;
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

section.staff div.workers div.worker h4 {
  color: black;
  font-size: 16px;
  margin: 0;
}

section.staff div.workers div.worker p {
  color: #444;
  font-size: 14px;
}

section.staff div.workers div.worker ul {
  margin: 10px;
  padding: 0;
}

section.staff div.workers div.worker ul li {
  display: inline-block;
}

section.staff div.workers div.worker ul li a {
  padding: 10px;
}

.fa {
  margin: 0;
  vertical-align: top;
}

.fa-facebook {
  background-color: #30459E;
  border-radius: 50%;
  color: white;
  font-size: 1.3em;
  margin-top: 2px;
  padding: 6px 9.4px 4px;
}

.fa-twitter {
  background-color: #2CABF8;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  margin-top: 2px;
  padding: 3px 4px;
}

.fa-pinterest {
  color: #BD233C;
  font-size: 2.2em;
  margin: 0;
}

/*------------------------------------------------------------------
-----------------------------RECENT POSTS SECTION-----------------
------------------------------------------------------------------*/

section.recent-posts {
  background-color: #B2D2DD;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 50px 0 50px;
  text-align: center;
  width: 100%;
}

section.recent-posts h1 {
  font-family: 'Crimson', serif;
  font-size: 55px;
  margin: 0;
}

section.recent-posts p {
  font-size: 14px;
  line-height: 25px;
  margin: 10px;
  padding-bottom: 30px;
}

section.recent-posts div.posts {
  margin: 0;
  width: 100%;
}

section.recent-posts div.posts div.post {
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  margin: 40px;
  width: 25%;
}

section.recent-posts div.posts div.post img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 200px;
  opacity: 0.95;
  width: 100%;
}

section.recent-posts div.posts div.post h3 {
  color: black;
  font-family: 'Crimson', serif;
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

section.recent-posts div.posts div.post h4 {
  color: #333;
  font-size: 14px;
  margin: 0;
}

section.recent-posts div.posts div.post p {
  color: #444;
  font-size: 14px;
}

section.recent-posts button {
    background-color: white;
    border: none;
    border-radius: 7px;
    color: #B2D2DD;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 40px 0 20px;
    padding: 18px;
    text-decoration: none;
}

/*--------------------------------------------------------
----------------------CONTACT SECTION---------------------
--------------------------------------------------------*/

section.contact {
  background-color: #3C3C3C;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 50px 0 20px;
  text-align: center;
  width: 100%;
}

section.contact h1 {
  font-family: 'Crimson', serif;
  font-size: 55px;
  margin: 0;
}

section.contact p {
  font-size: 14px;
  line-height: 25px;
  margin: 10px 10px 80px;
}

section.contact form {
  margin: 0 auto;
  width: 50%;
}

section.contact form input {
  border-radius: 7px;
  border: none;
  height: 40px;
  margin-bottom: 23px;
  padding-left: 15px;
  margin-left: -9px;
  width: 100%;
}

section.contact form textarea {
  border-radius: 7px;
  border: none;
  margin-left: -9px;
  padding-left: 15px;
  padding-top: 12px;
  width: 100%;
}

::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

section.contact form button {
    background-color: white;
    border: none;
    border-radius: 7px;
    color: #3C3C3C;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 40px 0 60px;
    padding: 18px 48px;
    text-decoration: none;
}

section.contact hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    margin: 1em 0;
    padding: 0;
}

/*--------------------------------------------------------
----------------------FOOTER  SECTION---------------------
--------------------------------------------------------*/

footer {
  background-color: #3C3C3C;
  height: 90px;
  width: 100%;
}

footer ul {
  display: inline-block;
  float: left;
  padding-left: 0;
  margin-top: 5px;
  width: 30%;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li a i.fa-twitter {
  background-color: dimgrey;
  color: #3C3C3C;
  font-size: 2em;
}

footer ul li a i.fa-facebook {
  background-color: dimgrey;
  color: #3C3C3C;
  font-size: 1.8em;
  padding: 6px 10px 4px;
}

footer ul li a i.fa-rocket {
  background-color: dimgrey;
  border-radius: 50%;
  color: #3C3C3C;
  font-size: 1.8em;
  margin-top: 1px;
  padding: 6px 8px 5px 5px;
}

footer ul li a i.fa-slack {
  background-color: dimgrey;
  border-radius: 50%;
  color: #3C3C3C;
  font-size: 1.8em;
  margin-top: 1px;
  padding: 6px 6px 5px 5px;
}

footer div.copyright {
  display: inline-block;
  float: right;
  text-align: right;
  width: 50%;
}

footer h3 {
  color: #AAA;
  font-size: 16px;
  letter-spacing: 0.07em;
}

footer h3 span {
  color: goldenrod;
}
